.todo-list { width: 50%; margin: 25px 0px 0px 30px; }
.todo-entry {
  border: thin solid lightgray;
  margin-bottom:10px;
  padding:10px;
  border-radius:10px;
}

div.mainForm { max-width: 700px; width:30%; margin:0 auto; }
