<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="custom.css"/>
  </head>
  <body>
    <div class="container-fluid">
      <section ng-view></section>
    </div>


    <script type="text/javascript">
      window.user = <%- user || 'null' %>;
    </script>

    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>

    <script type="text/javascript" src="/todos/todos.module.js"></script>
    <script type="text/javascript" src="/todos/controllers/todos.controller.js"></script>
    <script type="text/javascript" src="/todos/services/todos.service.js"></script>
    <script type="text/javascript" src="/todos/config/todos.routes.js"></script>

    <script type="text/javascript" src="/example/example.module.js"></script>
    <script type="text/javascript" src="/example/controllers/example.controller.js"></script>
    <script type="text/javascript" src="/example/config/example.routes.js"></script>

    <script type="text/javascript" src="/cusers/users.module.js"></script>
    <script type="text/javascript" src="/cusers/services/authentication.service.js"></script>

    <script type="text/javascript" src="/application.js"></script>

  </body>
</html>
