<% include header %>
   <div class="mainForm">
    <% for(var i in messages){ %>
      <div class="flash"><%= messages[i] %></div>
    <% } %>

    <form action="/signin" method="post">
      <div>
        <label>Username:</label>
        <input type="text" class="form-control" name="username" />
      </div>
      <div>
        <label>Password:</label>
        <input type="password" class="form-control" name="password" />
      </div>
      <div>
        <br/>
        <input type="submit" class="btn btn-primary" value="Sign in" />
      </div>
    </form>
  </div>
<% include footer %>
